body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


#selectedquestion {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

    h1 {
        color: indianred;
    }
}

#pioche {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;

    height: 80vh;
    display: none;
}

#array_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;

    width: 80vw;

    .array_players-item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding: 10px;
        margin: 5px;
        text-align: left;
        min-width: 25%;
        position: relative;
        color: black;
        background: white;

        span {
            font-size: 8px;
        }

        .top {
            position: absolute;
            top: 15px;
            left: 15px;
            font-size: 22px;
        }

        .bottom {
            font-size: 30px;
            position: absolute;
            bottom: 5px;
            right: 15px;
        }
    }
}

.active {
    display: flex !important;
}

#currentplayer {
    display: none;
}

.include_players {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 5, 26);
    display: none;

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;
        height: 80vh;

        img {
            width: 100px;
            height: auto;
            filter: invert(1);
        }
    }


    input,
    button {
        margin: 10px 0px;
        width: 80vw;
        padding: 10px;
        font-family: 'Comfortaa';
        text-transform: uppercase !important;
    }

    .print_joueur {
        ul {
            padding: 0 !important;
            margin: 0 !important;
            list-style: none;

            li {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: stretch;
                align-items: center;

                color: white;
                text-align: left;
                height: 100px;
            }
        }
    }

    .top {
        .addPlayer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: center;

            width: 80vw;
            margin-right: auto;
            margin-left: auto;


            #save {
                width: 20vw;
            }
        }
    }
}

#container-selectedplayer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 5, 26);
    display: none;

    #selectedplayer {
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: flex-start;

        h1 {
            font-size: 30px;
            width: 80vw;
        }
    }
}



#decomtpe {
    display: none;
    flex-direction: column;

    &.active {
        display: flex !important;
    }
}

#whowin {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #092f53;
    display: none;

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;

        height: 80vh;

        font-size: 30px;
        width: 80vw;

        h3 {
            margin: 0;
            text-align: left;
            width: 100%;
        }



        .bouttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: center;
            width: 100%;
            height: 70vh;

            button {
                width: 50%;
                height: 70vh;
            }
        }
    }
}

#save {
    background-color: rgb(255, 189, 47);
}

#iwin {
    background-color: greenyellow;
    height: 80vh;

    img {
        height: 100px;
        width: 100px;
        object-fit: contain;
    }

    p {
        text-transform: uppercase;
    }
}

#nothing {
    background-color: rgb(255, 54, 47);
    height: 80vh;

    img {
        height: 100px;
        width: 100px;
        object-fit: contain;
    }

    p {
        text-transform: uppercase;
    }
}

#next {
    background-color: #67ec3b;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
}

#question,
.startdecompte {
    height: 100px;
    width: 80vw;
    text-transform: uppercase;
    background-color: #67ec3b;
}

.print_joueur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

.chronoanim {
    background-color: #092f53;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;   
    transform: scaleX(0);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;



    &.active {       
    animation-duration: 3s;
    animation-name: slidein;
    }
}

@keyframes slidein {
    from {
        transform: scaleX(0);
    }
  
    to {
        transform: scaleX(1);
    }
  }





  
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .2s ease-out;
}

@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.final {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show .3s ease-in;
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.nums {
	color: #3498db;
	position: relative;
	font-size: 50px;
	overflow: hidden;
	width: 250px;
	height: 50px;
}

.nums span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(120deg);
	transform-origin: bottom center;
}

.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
	animation: goIn .5s ease-in-out;
}

.nums span.out {
	animation: goOut .5s ease-in-out;
}

@keyframes goIn {
	0% {
		transform: translate(-50%, -50%) rotate(120deg);
	}
	30% {
		transform: translate(-50%, -50%) rotate(-20deg);
	}

	60% {
		transform: translate(-50%, -50%) rotate(10deg);
	}

	90%, 100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

}

@keyframes goOut {
	0%, 30% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	60% {
		transform: translate(-50%, -50%) rotate(20deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-120deg);
	}
}

h4 {
	font-size: 20px;
	margin: 5px;
	text-transform: uppercase;
}