#player {
    position: relative;
    transition: all .5s ease;
    top: 0vh;
    left: 0;

    &.active {
        top: 100vh;


        .container-form {
            top: -100vh;
            left: 0;
        }
    }

    .container-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        position: absolute;
        top: -100vh;
        left: 0;

        width: 100%;
        height: 100vh;
        background: linear-gradient(-45deg, #b052e6, darken(#b052e6, 5%), #2620ca, darken(#2620ca, 5%), #16a1f9, darken(#16a1f9, 5%));
        background-size: 400% 400%;
        animation: GradientColor 20s ease infinite;
        z-index: 1000;
        padding: 30px;
        box-sizing: border-box;

        transition: all .5s ease;

        input {
            border-radius: 10px;
            width: 80vw;
            height: 30px;
            padding: 10px;
            border: none;
        }
    }

    #start {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .player-list {
        height: 65vh;
        width: 100%;
    }


}
