
section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;

    
    width: 100%;
    height: 100vh;
    padding: 30px;
  
    position: absolute;
    top: 0;
    text-align: center;
    box-sizing: border-box;
  
    font-family: 'Open Sans', sans-serif;
    transition: all .25s ease-in;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 600, 0, 0, 1);
    
  }
  
  .section-out {
    transform: matrix3d(1, 0, 0, 0, -0.6, 1, 0, 0, 0, 0, 1, 0, -600, 0, 0, 1);
    
  }
  
  .section-return {
    transform: matrix3d(1, 0, 0, 0, -0.6, 1, 0, 0, 0, 0, 1, 0, 600, 0, 0, 1);
    visibility: hidden !important;
    opacity: 0 !important;
    transition: none !important;
  }
  
  .section-show {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  
  .section-fade {
    opacity: 0;
  }
  

  