body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #252525;
  position: absolute;
}

.cont {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#piocher-container,
#question-container,
#counter-container,
#winner-container {
  display: none;
  opacity: 0;
}

#player-container {
  position: relative;
}

#player-container .container-form {
  background-color: yellow;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#player-container .container-form #player-form {
  background-color: green;
  width: 90vw;
  height: 30vh;
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

#player-container .container-form #player-form h1 {
  margin: 0;
  font-size: 8vw;
}

#player-container .container-form #player-form p {
  margin: 0;
  font-size: 5vw;
}

#player-container .container-form #player-form label {
  display: none;
}

#player-container .container-form #player-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  margin-top: 30px;
  padding: 0px 20px;
  margin-right: auto;
  margin-left: auto;
}

#player-container .container-form #player-form .form-group .form-control {
  height: 25px;
  width: 80%;
  border: none;
}

#player-container .container-form #player-form input[type="submit"] {
  font-size: 0 !important;
  background: red;
  background-image: url(../../sources/icon/user-plus-solid.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 27px;
  height: 27px;
  border-radius: 4px;
}

#player-container #start {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#player-container .player-list {
  background-color: green;
  height: 60vh;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
}

.loader.is-opacity {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.loader.is-out {
  visibility: hidden;
}

.loader h1 {
  color: white;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  z-index: 80;
}

.rules.is-opacity {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.rules.is-out {
  visibility: hidden;
}

.theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 80;
}

.theme.is-opacity {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.theme.is-out {
  visibility: hidden;
}

.explain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 90;
}

.explain.is-opacity {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.explain.is-out {
  visibility: hidden;
}

.explain h1 {
  color: white;
}

.themeUl .selectedTheme {
  color: red;
}
