body {
    width: 100vw;
    height: 100vh;

    color: white;
    background-color: rgb(37, 37, 37);

    position: absolute;
}

.cont {
    width: 100vw;
    height: 100vh;

    position: absolute;
}

#piocher-container,
#question-container,
#counter-container,
#winner-container {
    display: none;
    opacity: 0;
}

@import 'pages/player';
@import 'pages/loader';
@import 'pages/rules';
@import 'pages/theme';
@import 'pages/explain';

.themeUl .selectedTheme {
    color: red;
}